<section class="container">
  <div class="row">
    <div class="col-8">
      <div class="upper-block tkanevie">
        <h2 class="--uppercase">Двухуровневые <span class="--orange">потолки</span></h2>
        <p class="mt-3">
          Каждый, кто собирается сделать ремонт в доме, задумывается не только о практичности и долговечности ремонта, а и о будущем виде интерьера. Замечательный вариант, позволяющий объединить эти требования — двухуровневые натяжные потолки, которые будут не только удобными и надёжными в эксплуатации, а и позволят существенно обогатить интерьер красотой и оригинальностью. </p>
      </div>
      <div class="middle-block">
          <div class="row mt-5">
            <div class="col-4 pr-2">
              <img class="two-levels" src="../img/2xlevel1.jpg" alt="">
            </div>
            <div class="col-4 pr-2">
              <img class="two-levels" src="../img/2xlevel2.jpg" alt="">
            </div>
            <div class="col-4">
              <img class="two-levels" src="../img/2xlevel3.jpg" alt="">
            </div>
          </div>
      </div>
      <div class="row bottom upper-underline">
        <div class="col-6">
          <img class="btn-icon" src="../img/download-btn.svg" alt="">
          <a class="ml-3 text-dark --bold" href="#">Скачать прайс-лист</a>
        </div>
        <div class="col-6">
          <img class="btn-icon" src="../img/calc-btn.svg" alt="">
          <a class="ml-3 text-dark --bold" href="#">Онлайн калькулятор</a>
        </div>
      </div>
    </div>
    <div class="col-4 right-banner">
      <img src="../img/tkanevie.png" alt="">
    </div>
  </div>
</section>
