<section class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="upper-block tkanevie">
        <h2 class="--uppercase">точечные светильники</h2>
        <p class="mt-3">Встраиваемые светильники для натяжных потолков должны иметь внутренний бортик, который сможет скрыть монтажное кольцо, прикрепленное на потолок для усиления подвесной конструкции и защиты полотна натяжного потолка от разрыва. Поэтому мы не рекомендуем использовать литые встраиваемые светильники и светильники, не имеющие внутреннего борта.
        <p class="mt-3">При монтаже натяжной потолок опускается на высоту встраиваемых светильников, поэтому для экономии пространства предпочтительно использовать тонкие светильники (светильники с низким цоколем).</p>
        <p class="mt-3">Любой потолочный светильник, встраиваемый в натяжной потолок не должен нагреваться более 60 градусов. Иначе возможна деформация или разрыв материала натяжного потолка.</p>
        <p class="mt-3">Светильники имеют ограничения по мощности используемых в них ламп: для ламп накаливания – до 40W, для галогенных – до 35W. При этом для светодиодных ламп никаких ограничений по мощности нет, так как такой тип ламп исключает нагревание</p>
        <p class="mt-3">Галогенные лампы в отличие от ламп накаливания дают направленный свет, поэтому галогенные лампы обязательно должны быть с зеркальным отражателем. В противном случае свет будет проникать в пространство за натяжным потолком и создавать свечение вокруг светильников.</p>
      </div>
      <div class="row bottom-block text-center upper-underline">
        <div class="col-sm-12 col-md-6 mb-2">
          <div class="price">
            <a href="#"><img class="btn-icon" src="../img/download-btn.svg" alt=""></a>
            <a class="ml-3 text-dark --bold" href="#">Скачать прайс-лист</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 mb-2">
          <div class="calculator">
            <a href="#"><img class="btn-icon" src="../img/calc-btn.svg" alt=""></a>
            <a class="ml-3 text-dark --bold" href="#">Онлайн калькулятор</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-0 col-md-0 col-lg-4 right-banner">
      <img class="w-100" src="../img/svetilniki.jpg" alt="">
    </div>
  </div>
</section>
