.gallery{
  background: $light-blue;
}
.slider-btn{
  width: 67px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.slider-img {
  object-fit: cover;
  margin: 0 1rem;
  width: 250px;
  height: 250px;
}
