.garanty {
  background: url('../img/garanty.png') no-repeat 0 0;
  background-size: cover;
  padding: 150px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.phone-number {
  font-size: 35px;
}
