.right-banner {
  position: relative;
  z-index: -1;
}
.tkanevie {
  margin-top: 5rem;
}
.upper-block {

}
.middle-block {
  margin-bottom: 6rem;
}
.bottom-block {
  text-align: center;
  margin-top: 10rem;
}
.btn-icon {
  width: 50px;
  height: 50px;
}
.upper-underline {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -3rem;
    height: 1px;
    width: 100%;
    background-color: $orange;
  }
}
.two-levels {
  width: 100%;
  height: 100%;
}

.price-link {
  padding: 0.7rem 2rem;
  background-color: $orange;
  color: $black;
  border-radius: 10px;
  &:hover {
    background-color: $black;
    color: $white !important;
    text-decoration: none;
  }

}

@include media-breakpoint-down(md) {
  .right-banner {
    display: none;
  }

  .price {
    margin-right: 0.75rem;
  }
  .bottom-block {
    margin-top: 5rem;
  }
}
