ul.ceiling {
  list-style: disc;
  margin-left: 1.5rem;
  li {
    margin-top: 0.5rem;
  }
}
.enot {
  color: gray;
  font-size: 10px;
}
.white-circle {
  width: 230px;
  height: 230px;
  background-color: $white;
  position: absolute;
  box-shadow: 2px 3.464px 8px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 44%;
  transform: translate(-50%,-50%);
}
.flag {
  max-width: 220px;
}
.btn-order-rounded {
  padding: 4rem 2rem;
  background-color: $orange;
  color: $black;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: ease 0.2s;
    &:hover {
      background-color: $black;
      color: $white;
    }
}

@include media-breakpoint-down(md) {
  .flag {
    max-width: 145px;
  }
  .white-circle {
    width: 140px;
    height: 140px;
    left: 50%;
  }
}
