.service-block {
  background-color: #F9F9F9;
  text-align: center;
  font-size: 14px;
  transition: 0.2s ease-out;
  height: 100%;
  &:hover {
    background-color: #FDB415;
    .service-text,
    .service-header {
      color: $white;
    }
  }
}
.avatar {
  height: 60px;
  width: 60px;
}
