<section class="container">
  <div class="row">
    <div class="col-8">
      <div class="upper-block tkanevie">
        <h2 class="--uppercase">ПВХ <span class="--orange">потолки</span></h2>
        <p class="mt-5">Панели ПВХ для потолка являются одним из самых популярных облицовочных материалов. Обычно их применяют для отделки кухни, ванной, санузлов, балконов и лоджий. В помещениях с повышенной влажностью панели ПВХ чувствуют себя очень комфортно, к тому же это экологически чистый и не вызывающий аллергию материал.</p>

<p class="mt-3">Пластиковые панели не впитывают неприятные запахи. За ними достаточно просто ухаживать. Если на кухонный потолок из пластика попадет жир или осядет копоть, его достаточно легко удалить губкой и мыльным раствором.</p>

<p class="mt-3">Благодаря малому весу потолочные панели ПВХ очень легко и просто монтировать. С этим справиться практически любой начинающий домашний мастер.</p>

<p class="mt-3">Как показал многолетний опыт, плёнка для натяжных потолков из ПВХ — весьма практичный и надёжный материал. Высокие технологические качества сочетаются в ней с неизменной художественной и декоративной оригинальностью, а повсеместное использование делает такой материал привычным и доступным по цене.</p>



      </div>
      <div class="row bottom-block upper-underline">
        <div class="col-6">
          <img src="../img/download-btn.svg" alt="">
          <a class="ml-3 text-dark --bold" href="#">Скачать прайс-лист</a>
        </div>
        <div class="col-6">
          <img src="../img/calc-btn.svg" alt="">
          <a class="ml-3 text-dark --bold" href="#">Онлайн калькулятор</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <img src="../img/tkanevie.png" alt="">
    </div>
  </div>
</section>
