<section class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="upper-block tkanevie">
        <h2 class="--uppercase">Тканевые <span class="--orange">потолки</span></h2>
        <p class="mt-3">Тканевая фактура полотна подходит под множество стилей интерьеров.
          Она легко вписывается в декор комнаты и создаёт спокойную умиротворяющую атмосферу.</p>
          <p class="mt-3">Такие виды натяжного потолка абсолютно безвредны для человека.
        Они могут использоваться в детских и медицинских учреждениях.</p>
          <p class="mt-3">Благодаря тканевой структуре пространство за натяжным потолком вентилируется естественным образом, что препятствует скоплению конденсата и образованию плесени. Это позволяет эксплуатировать данные натяжные потолки не один десяток лет.
          <p class="mt-3">Значительная ширина рулона тканевых потолков позволяет монтировать натяжной потолок без швов.</p>
          <p class="mt-3">Данные виды натяжного потолка не боятся перепадов температур и их низких значений.</p>
      </div>
      <div class="row bottom-block text-center upper-underline">
        <div class="col-sm-12 col-md-6 mb-2">
          <div class="price">
            <a href="#"><img class="btn-icon" src="../img/download-btn.svg" alt=""></a>
            <a class="ml-3 text-dark --bold" href="#">Скачать прайс-лист</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 mb-2">
          <div class="calculator">
            <a href="#"><img class="btn-icon" src="../img/calc-btn.svg" alt=""></a>
            <a class="ml-3 text-dark --bold" href="#">Онлайн калькулятор</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 right-banner">
      <img class="w-100" src="../img/tkanevie.png" alt="">
    </div>
  </div>
</section>
