<section class="banner">
  <div class="container pt-5">
    <div class="row">
      <div class="col-9">
        <h1 class="text-white mt-sm-1 mt-md-2 mt-lg-5 font-weight-bold">Натяжные потолки</h1>
        <h2 class="text-white mt-2">Европейского качества</h2>
        <p class="text-white mt-4">Компания «ART-OSKAR» — это компания где можно купить натяжные потолки по приемлемой цене. Мы занимаемся монтажем потолочных и стеновых натяжных систем используя бесшовные тканевые и ПВХ полотна. Мы также осуществляем продажу натяжных потолков оптом. </p>
        <p class="text-white mt-4 mb-4">Купить натяжные потолки в Москве у нас, это не только мудрое решение, но и экономия времени и нервов. Цены вас приятно удивят. Наши специалисты обучены не только производить качественный монтаж, но и делать свою работу виртуозно. Вы не найдете ни единой помарки! А значит останетесь довольны!</p>
      </div>
      <div class="col-3">

      </div>
    </div>
  </div>
  </section>
