<footer class="footer">
  <div class="container py-5">
    <div class="row justify-content-sm-center justify-content-md-start text-center text-md-left">
      <div class="col-sm-12 col-md-2">
        <ul class="--uppercase">
          <li class="mt-3"><a class="footer-link" href="#">Главная</a></li>
          <li class="mt-3"><a class="footer-link" href="#">Галерея</a></li>
          <li class="mt-3"><a class="footer-link" href="#">Дилерам</a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-3 mr-auto">
        <ul class="--uppercase">
          <li class="mt-3"><a class="footer-link" href="#">г. Москва, ул. Тверская 7</a></li>
          <li class="mt-3"><a class="footer-link" href="#">+7(985)073-12-92</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
