<footer class="footer">
  <div class="container py-5">
    <div class="row justify-content-sm-center justify-content-md-start text-center text-md-left">
      <div class="col-sm-12 col-md-2">
        <ul>
          <li class="mt-3"><a class="footer-link" href="/">Главная</a></li>
          <li class="mt-3"><a class="footer-link" href="/gallery.html">Галерея</a></li>
          <li class="mt-3"><a class="footer-link" href="/dileram.html">Дилерам</a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-3">
        <ul>
          <li class="mt-3"><a class="footer-link" href="/tkanevie.html">Тканевые</a></li>
          <li class="mt-3"><a class="footer-link" href="/pvx.html">ПВХ</a></li>
          <li class="mt-3"><a class="footer-link" href="/dvyxyrovnevie.html">Двухуровневые</a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-5">
        <ul>
          <li class="mt-3 text-white">Контакты:</li>
          <li class="mt-3"><a class="footer-link" target="_blank" href="https://yandex.ru/maps/-/CKAufQnC">г. Москва, ул. Тверская 7</a></li>
          <li class="mt-3"><a class="footer-link" href="tel:+79850731292">+7(985)073-12-92</a><a class="footer-link social ml-4" href="https://www.instagram.com/ceilingstudio" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
