<div class="gallery py-5">
  <div class="container">
    <h1 class="text-uppercase mt-5">галерея</h1>
  </div>
  <div class="container-fluid p-0 overflow-hidden">
    <div class="slick-gallery">
      <img src="./img/slider/slide-1.jpg" alt="slide">
      <img src="./img/slider/slide-1.jpg" alt="slide">
    </div>
  </div>
  <div class="text-center d-flex justify-content-center py-3">
    <button class="slider-btn btn btn-warning rounded-pill shadow" id="prev-slide">
      <img src="./img/slider/Arrow-left.svg" alt="">
    </button>
    <button class="slider-btn btn btn-warning rounded-pill shadow" id="next-slide">
      <img src="./img/slider/Arrow-right.svg" alt="">
    </button>
  </div>
</div>
