<div class="gallery py-5">
  <div class="container">
    <h1 class="text-uppercase mt-5">наши работы</h1>
  </div>
  <div class="container overflow-hidden">
    <div class="slick-gallery">
      <img class="slider-img" src="./img/slider/1.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/2.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/3.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/4.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/5.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/6.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/7.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/8.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/9.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/10.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/11.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/12.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/13.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/14.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/15.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/16.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/17.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/18.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/19.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/20.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/21.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/22.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/23.jpg" alt="slide">
      <img class="slider-img" src="./img/slider/24.jpg" alt="slide">
    </div>
  </div>
  <div class="text-center d-flex justify-content-center py-3">
    <button class="slider-btn btn btn-warning rounded-pill shadow" id="prev-slide">
      <img src="./img/slider/Arrow-left.svg" alt="">
    </button>
    <button class="slider-btn btn btn-warning rounded-pill shadow" id="next-slide">
      <img src="./img/slider/Arrow-right.svg" alt="">
    </button>
  </div>
</div>
