<header>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col --primary"><a>+7(985)073-12-92</a></div>
      <div class="col text-center"><img src="../img/logo.png" alt=""></div>
      <div class="col --primary text-right">пн-вс, 9:00-21:00</div>
    </div>
    <div class="row justify-content-center mt-5">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav --uppercase">
            <li class="nav-item active">
              <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Виды потолков
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Тканевые</a>
                <a class="dropdown-item" href="#">ПВХ</a>
                <a class="dropdown-item" href="#">Двухуровневые</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                доп. услуги
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">фотопечать</a>
                <a class="dropdown-item" href="#">натяжные стены</a>
                <a class="dropdown-item" href="#">точечные светильники</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">галерея</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">дилерам</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">калькулятор</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
