<div class="container header">
  <div class="header-main row text-body">
    <div class=" col-4 text-left phone d-flex align-items-center">
      <span class="lead mr-3">+7 (985) 073-12-92</span>
      <img src="../img/icons/icon-phone.svg" alt="phone">
    </div>
    <div class=" col-4 text-center d-flex logo">
      <img src="../img/logo.svg" alt="logo" class='mx-auto'>
    </div>
    <div class=" col-4 time d-flex align-items-center">
      <img src="../img/icons/icon-time.svg" alt="time" class="ml-auto mr-3">
      <span class="lead">пн-вс, 9:00-21:00</span>
    </div>
  </div>
  <nav class="header-navbar navbar navbar-expand-lg bg-warning">
    <ul class="navbar-nav w-100 px-5 ">
      <li class="nav-item text-center w-100"><a href="" class="nav-link">Главная</a></li>
      <li class="nav-item w-100 dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Виды потолков
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Тканевые</a>
          <a class="dropdown-item" href="#">ПВХ</a>
          <a class="dropdown-item" href="#">Двухуровневые</a>
        </div>
      </li>
      <li class="nav-item w-100 dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Доп. услуги
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Фотопечать</a>
          <a class="dropdown-item" href="#">Натяжные стены</a>
          <a class="dropdown-item" href="#">Светильники</a>
        </div>
      </li>
      <li class="nav-item text-center w-100"><a href="" class="nav-link">Галерея</a></li>
      <li class="nav-item text-center w-100"><a href="" class="nav-link">Дилерам</a></li>
      <li class="nav-item text-center w-100"><a href="" class="nav-link">Калькулятор</a></li>
    </ul>
  </nav>
</div>
