<section class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="text-sm-left text-center position-relative">
        <img class="m-2 flag" src="../img/flag1.png" alt="">
        <img class="m-2 flag" src="../img/flag2.png" alt="">
        <img class="m-2 flag" src="../img/flag3.png" alt="">
        <img class="m-2 flag" src="../img/flag4.png" alt="">
        <div class="rounded-pill white-circle"></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 text-sm-left text-center d-flex justify-content-start flex-column mt-5">
      <h2 class="--uppercase --bold">Европейское качество</h2>
      <h3 class="--orange">Превосходный результат</h3>
      <p class="enot">"Мы используем материалы только высочайшего качества"</p>
      <p class="mt-3">Широкий выбор материалов:</p>
      <ul class="ceiling">
          <li>БЕЛЬГИЙСКИЙ НАТЯЖНОЙ ПОТОЛОК (PTMC)</li>
          <li>НЕМЕЦКИЙ НАТЯЖНОЙ ПОТОЛОК (PONGS)</li>
          <li>ФРАНЦУЗСКИЙ НАТЯЖНОЙ ПОТОЛОК (CTN)</li>
          <li>ГЕРМАНСКИЙ ТКАНЕВЫЙ ПОТОЛОК (DESCOR)</li>
          <li>ФРАНЦУЗСКИЙ ТКАНЕВЫЙ ПОТОЛОК (CLIPSO)</li>
      </ul>
    </div>
  </div>
</section>
