<section class="container py-5">
  <div class="row py-5">
      <div class="col rounded shadow service-block align-items-center justify-content-center d-flex flex-column mx-3 py-3">
        <div class="avatar"><img src="../img/service/bezopasnost.svg" alt=""></div>
        <div class="--primary mt-4 mb-4 service-header"><h4>Безопасность</h4></div>
        <div class="--primary service-text">В производстве используются европейские материалы, а при монтаже - безопасные полимерно-композитные газовые баллоны.</div>
      </div>
      <div class="col rounded shadow service-block align-items-center justify-content-center d-flex flex-column mx-3 py-3">
        <div class="avatar mt-2"><img src="../img/service/kachestvo.svg" alt=""></div>
        <div class="--primary mt-4 mb-4 service-header"><h4>Качество</h4></div>
        <div class="--primary service-text">Команда  монтажников с опытом более 5 лет! Более 200 заказов выполненых заказов с использованием исключительно качественных материалов.</div>
      </div>
      <div class="col rounded shadow service-block align-items-center justify-content-center d-flex flex-column mx-3 py-3">
        <div class="avatar mt-2"><img src="../img/service/garantiya.svg" alt=""></div>
        <div class="--primary mt-4 mb-4 service-header"><h4>Гарантия</h4></div>
        <div class="--primary service-text">Гарантия на полотно - от 1 года до 15 лет. Гарантия на монтажные работы - 1год. Также мы осуществляем постгарантийное обслуживание!</div>
      </div>
      <div class="col rounded shadow service-block align-items-center justify-content-center d-flex flex-column mx-3 py-3">
        <div class="avatar mt-2"><img src="../img/service/service.svg" alt=""></div>
        <div class="--primary mt-4 mb-4 service-header"><h4>Сервис</h4></div>
        <div class="--primary service-text">Сервисное обслуживание для клиентов. Повредили потолок? Устраним повреждения, произведем качественный ремонт.</div>
      </div>
  </div>
</section>
