<section class="container step-margin">
    <div class="row pb-5 align-items-center">
      <div class="col --uppercase h-100 justify-content-center align-items center">
        <h2 class="--bold">этапы<br/>заказа</h2>
      </div>
      <div class="col text-center position-realtive">
        <img src="../img/step1.png" alt="">
        <p class="--orange steps --bold --largest">1</p>
        <h3 class="mt-3">Звонок для заказа</h3>
      </div>
      <div class="col">
        <img src="../img/step2.png" alt="">
        <p class="--orange steps --bold --largest">2</p>
        <h3 class="mt-3">Выезд замерщика</h3>
      </div>
      <div class="col">
        <img src="../img/step3.png" alt="">
        <p class="--orange steps --bold --largest">3</p>
        <h3 class="mt-3">Установка потолка</h3>
      </div>
    </div>
</section>
