<section class="feedback">
  <div class="container">
    <div class="row py-4 justify-content-center align-items-center">
      <div class="col-4 text-right">
        <p>
          Оставь заявку на выезд замерщика
          </p>
      </div>
      <div class="col-4">
        <input type="text" class="form-control" placeholder="Введите номер телефона">
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-secondary my-1">Вызвать мастера</button>
        </div>
    </div>
  </div>
</section>
