<section class="feedback">
  <div class="container">
    <form class="row py-5 justify-content-center align-items-center" action="/success.html" name="contact" netlify>
      <div class="col-sm-12 col-md-5 text-center mb-3">Оставь заявку на выезд замерщика</div>
      <div class="col-sm-12 col-md-5 mb-3">
        <input type="text" name="phone" class="form-control" placeholder="Введите номер телефона">
      </div>
      <div class="col-sm-12 col-md-2 mb-3 text-center">
        <button type="submit" class="btn btn-secondary my-1">Вызвать мастера</button>
      </div>
    </form>
  </div>
</section>
