<section class="feedback">
  <div class="container">
    <form class="row py-4 justify-content-center align-items-center" action="/success.html" name="contact" netlify>
      <div class="col-4 text-right">Оставь заявку на выезд замерщика</div>
      <div class="col-4">
        <input type="text" name="phone" class="form-control" placeholder="Введите номер телефона">
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-secondary my-1">Вызвать мастера</button>
      </div>
    </form>
  </div>
</section>
