<section class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="upper-block tkanevie">
        <h2 class="--uppercase">дилерам</h2>
        <p class="mt-3">Вы хотите открыть свой бизнес по установке потолков, но не знаете с чего начать? Компания «Ceiling Studio» предлагает всем желающим стать дилером натяжных потолков в Краснодаре. Мы готовы обеспечить вас недорогими и качественными поставками комплектующих материалов по оптовым ценам для монтажа натяжных потолков.</p>
        <p class="mt-3">Компания «Ceiling Studio» рада сотрудничеству с каждой компанией или частным лицом, решившим стать дилером натяжных потолков в Краснодаре или другом городе Краснодарского края. Мы не просто приглашаем партнеров для сотрудничества, но и проводим для них тренинги по монтажу, верному замеру, консультируем по маркетинговым вопросам и советуем инструменты для установки потолка. Кроме того, мы предлагаем особый прайс лист для дилеров: натяжные потолки дилерам по ценам, значительно ниже розничных.</p>
      </div>
      <div class="row bottom-block text-center upper-underline">
        <div class="col-sm-12 col-md-6 mb-3">
          <div class="email">
            <img class="btn-icon" src="../img/mail.svg" alt="">
            <a class="ml-3 text-dark --bold" href="mailto:art-oskar@mail.ru">art-oskar@mail.ru</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 mb-3">
          <div class="phone">
            <img class="btn-icon" src="../img/phone.svg" alt="">
            <a class="ml-3 text-dark --bold" href="tel:+79883556484">+7(988)355-64-84</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-0 col-md-0 col-lg-4 right-banner">
      <img class="w-100" src="../img/dileram.jpg" alt="">
    </div>
  </div>
</section>
